<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.arvectum.max2tg-session-watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/master/bin/max2tg-session-watch.js</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/master/Library/Logs/Arvectum/max2tg-session-watch.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/master/Library/Logs/Arvectum/max2tg-session-watch.error.log</string>
</dict>
</plist>
